<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\Marketplace\Block\Adminhtml\Customer\Edit\Tab\Grid\Product"
                type="Genesisoft\MarketplaceExt\Block\Adminhtml\Customer\Edit\Tab\Grid\Product"/>
</config>
